@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,greek);

body {
  background-color: #EEFDF1;
  font-family: 'Roboto' !important;
  font-style: 'normal';
  font-weight: 400;
  font-size: 14px;
}

a {
  color: #00A660;
}

a :hover {
  color: #00A660;
  background-color: #EEFDF1;
}

// float gallery right
.showcase {
  display: inline-block;
  float: right;
}

.menu-item {
  float: left;
  margin-left: 100px;
}

.logo {
  max-width: 25px;
  float: left;
}

.logo .img {
  background: transparent url('../images/logo.png') no-repeat;
  background-size: cover;
  display: inline-block;
  height: 120px;
  width: 160px;
}

.logo a {
  text-transform: uppercase;
}

nav {
  margin-left: 125px;
  margin-top: 115px;
}

nav .current-menu-item a {
  color: black;
  text-decoration: underline;
}

.projects h1 {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}

.featured_image {
  float: right;
  height: 50%;
}

article.projects header {
  max-width: 150px;
  text-align: right;
  margin-bottom: 25px;
}

article.projects header span {
}

article.projects header .project_id {
}

article.projects header h1 {
  margin-top: 5px;
}

article.projects header img.wp-post-image {
  position: absolute;
  left: 500px;
  display: none;
}

article.projects header:hover img.wp-post-image {
  display: block;
}
